[Desktop Entry]
Type=Application
Exec=/usr/bin/direwolf
Name=Dire Wolf
Comment=APRS Soundcard TNC
Icon=/usr/share/direwolf/dw-icon.png
Terminal=true
Categories=Network;HamRadio
Keywords=Ham Radio;APRS;Soundcard TNC;KISS;AGWPE;AX.25
